.list {
  display: flex;
  width: 100%;

  .listContainer {
    flex: 6;
    position: relative;

    .datatable {
      overflow-y: auto;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      flex-shrink: 10;
      flex-basis: 12px;
      border-top: 1px solid rgba(128, 128, 128, 0.26);
      background-color: rgb(32, 32, 32);
      font-size: min(0.6rem, 9.6px);
      color: white;
      text-align: center;
      margin: 0;
    }
  }
}